<div class="page-header">
  <h3 style="text-align:center;">Контакты</h3>     
</div>  
<div style="width:650px;margin:auto;"> 
  <table class="lead" style="width:530px;">
    <tr>
      <td>Город проживания:</td>
      <td>Запорожье</td>
    </tr>
    <tr>
      <td>Телефон:</td>
      <td>+380956046533</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>xxx.zp@mail.ru</td>
    </tr>
    <tr>
      <td>Skype:</td>
      <td>den-denka</td>
    </tr>
    <tr>
      <td>Icq:</td>
      <td>350037576</td>
    </tr>
  </table>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10711.966294286573!2d35.1282486!3d47.8397566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc67339907b20d%3A0x5b6c65c017d13efc!2z0LLRg9C7LiDQm9C10YDQvNC-0L3RgtC-0LLQsCwg0JfQsNC_0L7RgNGW0LbQttGPLCDQl9Cw0L_QvtGA0ZbQt9GM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1438558409610" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>