  
        <div class="page-header">

          <div class="h1-heder"><h1>Портфолио <span style="color:#3a87ad; font-weight: normal;">Crop images</span></h1>
            <% if session[:user_id] %> 
              <div class="userName lead"><%= @user_ava.name %>&ensp;<%= @user_ava.last_name.first %>.</div><%= image_tag @user_ava.avatar.url(:thumb), class: "min-avatarUser" %>
            <% end %>
          </div>

        </div>
        <h2><img src="/myphoto.jpg" class="img-circle" alt="myphoto">&ensp;&ensp;Резюме: WEB-программист</h2>
        <h3>Личные данные:</h3>        
          <table class="lead" style="width:530px;">
            <tr>
              <td>Ф.И.О.:</td>
              <td>Кузьменко Денис Викторович  </td>
            </tr>
            <tr>
              <td>Дата рождения:</td>
              <td>7 июня 1983</td>
            </tr>
             <tr>
              <td>Город проживания:</td>
              <td>Запорожье</td>
            </tr>
            <tr>
              <td>Телефон:</td>
              <td>+380956046533</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>xxx.zp@mail.ru</td>
            </tr>
            <tr>
              <td>Skype:</td>
              <td>den-denka</td>
            </tr>
            <tr>
              <td>Icq:</td>
              <td>350037576</td>
            </tr>
          </table>
        
        <h3>Личные качества:</h3>
         <p class="lead">Ответственность, целеустремленность, коммуникабельность, исполнительность, обязательность, порядочность, креативность, умение работать в команде. Совершенствую и улучшаю познания в сфере компьютерной информации.
          Цель: хотел бы стать программистом, потому что эта отрасль мне интересна. Меня вдохновляет работа с компьютерной техникой, создание сайтов и программ. Так как я человек творческий, то мне по душе постоянное самосовершенствование, изучение новых навыков. Я хотел бы работать в данной сфере, потому что программирование - это профессия будущего.</p>
          <h3>Образование:</h3>
          <p class="lead">
            <em>КПУ Коммерческий Приватный Университет</em>(Украина, Запорожье)<br>
            Год окончания 2010<br>
            <em>Экономическая Кибернетика, <ins>Магистр</ins></em>
          </p>
        <h3>Опыт работы:</h3>
        <p class="lead">
          Опыт работы с <em><ins>Ruby on rails</ins></em> примерно 1,5 года. Для практики и в качестве портфолио в данное время занимаюсь написанием интернет магазин с динамической админкой.<br>
          <strong>url:</strong> http://myportfolio-shop.tk<br>
          <strong>Почта:</strong> rootadmin@mail.ru<br>
          <strong>Пароль:</strong> rootadmin           
        </p>
        <h3>Профессиональные навыки</h3>
        <p class="lead">
          Теоретические и практические навыки в Веб-программировании <em><ins>Ruby on Rails, Css, Html, Javascript, jQuery, работа с Adobe Photoshop CS</ins></em><br>
          <strong>Личные качества:</strong>
          Ответственность, целеустремленность, коммуникабельность, исполнительность, обязательность, порядочность, креативность, умение работать в команде. Совершенствую и улучшаю познания в сфере компьютерной информации.<br>
          <strong>Цель:</strong> хотел бы стать программистом, потому что эта отрасль мне интересна. Меня вдохновляет работа с компьютерной техникой, создание сайтов и программ. Так как я человек творческий, то мне по душе постоянное самосовершенствование, изучение новых навыков. Я хотел бы работать в данной сфере, потому что программирование - это профессия будущего. 
        </p>
      </div>

    